#navbar {
  background-color: #ef6000;
  color: white;
  padding: 10px;

  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;
    color: inherit;
    text-decoration: inherit;
  }

  .search-bar {
      margin-right: 24px;
  }

  .profile-button {
    padding-right: 0;
  }

  .nav-item-icon {
    font-size: 22px;
    margin-right: 8px;
  }

  .nav-item-text {
      margin-top: 6px;
  }

  .navbar-toggler {
      border-color: white;

      .navbar-toggler-icon {
          color: white;
      }
  }
}
